.notFoundContainer {
    background: red;
    margin: auto;
    width: 100%;
    max-width: 1280px;
    padding: 20px;
    padding-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
  
  .errorCode {
    /* Add styles for the error code (404) */
  }
  
  .errorMessage {
    /* Add styles for the error message (Oops! Page Not Found!) */
  }
  
  .errorDescription {
    /* Add styles for the error description paragraph */
  }
  
  .backButton {
    /* Add styles for the back button */
  }
  
  .icon {
    /* Add styles for the icon inside the button */
  }